name: Test

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:
  workflow_dispatch:

jobs:
  build-cache:
    name: Build cache
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      name: Install Python 3.8
      with:
        python-version: 3.8
        architecture: x64
    - name: Install dependencies
      run: python -m pip install -r requirements.txt
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1.1.0
      with:
        platforms: 'arm,arm64,ppc64le,s390x'
    - name: Build cache
      run: |
        python -m pep600_compliance --machine x86_64 i686 aarch64 ppc64le s390x armv7l
    - name: Create Pull Request
      if: github.event_name == 'push' && github.ref == 'refs/heads/master' && always()
      uses: peter-evans/create-pull-request@v3.9.1
      with:
        commit-message: auto-update cache and/or README.rst
        title: '[Bot] auto-update cache and/or README.rst'
