name: Test

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build-cache:
    name: Build cache
    permissions:
      contents: write  # needed to create new branch
      pull-requests: write  # needed to create PR for the new branch
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Install Python
      uses: actions/setup-python@v6
    - name: Install Nox
      run: python -m pip install nox
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.7.0
      with:
        platforms: 'arm,arm64,loong64,ppc64le,s390x,riscv64'
    - name: Build cache
      run: nox -s run -- --machine x86_64 i686 aarch64 ppc64le s390x armv7l riscv64 loongarch64
    - name: Create Pull Request
      if: github.event_name == 'push' && github.ref == 'refs/heads/master' && always()
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: auto-update cache and/or README.rst
        title: '[Bot] auto-update cache and/or README.rst'
