name: Cron Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5'

jobs:
  build-cache:
    name: Build cache
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v5
    - name: Install Python
      uses: actions/setup-python@v6
    - name: Install Nox
      run: python -m pip install nox
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.6.0
      with:
        platforms: 'arm,arm64,loong64,ppc64le,s390x,riscv64'
    - name: Build cache
      run: |
        EXIT_CODE=0
        if ! nox -s run -- --force-rolling --continue-on-error --machine x86_64; then
          EXIT_CODE=1
        fi
        if ! git diff --exit-code --quiet cache; then
          if ! nox -s run -- --force-rolling --continue-on-error --machine i686 aarch64 ppc64le s390x armv7l riscv64 loongarch64; then
            EXIT_CODE=1
          fi
        fi
        exit $EXIT_CODE
    - name: Create Pull Request
      if: github.ref == 'refs/heads/master' && always()
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: auto-update cache and/or README.rst
        title: '[Bot] auto-update cache and/or README.rst'
        branch: create-pull-request/cron
